/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.npm-cache/
/.fleet
/.idea
/.vscode
/.superpowers/
cpanel_import.sql
cpanel_run_migrations.php
/tools/export_sqlite_to_mysql.php
